In [1]:
import pandas as pd
import numpy as np

In [8]:
d = {"a" : [1 , 2 , 3] , "b" : [4 ,np.nan , np.nan ] , "c" : [8 , 10 , np.nan]}
d

{'a': [1, 2, 3], 'b': [4, nan, nan], 'c': [8, 10, nan]}

In [9]:
df =  pd.DataFrame(d)
df

   a    b     c
0  1  4.0   8.0
1  2  NaN  10.0
2  3  NaN   NaN

In [10]:
df.dropna()

   a    b    c
0  1  4.0  8.0

In [11]:
df.dropna(axis=1)

   a
0  1
1  2
2  3

In [13]:
df.dropna(thresh=2)

   a    b     c
0  1  4.0   8.0
1  2  NaN  10.0

In [14]:
df.fillna("fill")

   a     b     c
0  1   4.0   8.0
1  2  fill  10.0
2  3  fill  fill