In [1]:
import pandas as pd
import numpy as np
import random

<h1 align="center">DataFrames</h1>

In [18]:
np.random.seed(101)
arr= np.random.randn(5,4)
arr

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [23]:
df = pd.DataFrame(arr,["A","B","C","D","E"],["F","G","H","I"])
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
# This is one way
sr = df["F"]
sr["B"]

np.float64(0.6511179479432686)

In [31]:
# second if you want to grap more columns at ones
df[["F","H"]]

          F         H
A  2.706850  0.907969
B  0.651118 -0.848077
C -2.018168  0.528813
D  0.188695 -0.933237
E  0.190794  2.605967

In [41]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [40]:
# now rows
df.loc["A"]

F    2.706850
G    0.628133
H    0.907969
I    0.503826
Name: A, dtype: float64

In [ ]:
# specific row and column
df.loc["B" , "G"]

np.float64(-0.31931804459303326)

In [44]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [47]:
df.loc["D",["G","I"]]

G   -0.758872
I    0.955057
Name: D, dtype: float64

In [48]:
# now iloc
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [50]:
df.iloc[2 , 1]

np.float64(0.7401220570561068)

In [51]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [53]:
df.iloc[4,[1,3]]

G    1.978757
I    0.683509
Name: E, dtype: float64

In [54]:
# you can also create a new column using existing columns 
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
# adding new columns
df["New"] = df["F"] + df["H"]
df

          F         G         H         I       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [ ]:
# dropping new columns it will not effect our original df 
 
df.drop("New" , axis=1)

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [63]:
# see the dataframe is still the same as before
df

          F         G         H         I       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [64]:
# now if you want to make changes to the original dataframe you will use inplace= True
df.drop("New" , axis=1 , inplace=True)
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [65]:
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [66]:
# conditional selection
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
df>0

       F      G      H      I
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [ ]:
# first step
bool_v = df > 0
bool_v

       F      G      H      I
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [ ]:
# second step
df[bool_v]

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
# short hand
df[df>0]

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
# first step
df["F"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: F, dtype: float64

In [ ]:
# second step
df["F"]>0

A     True
B     True
C    False
D     True
E     True
Name: F, dtype: bool

In [ ]:
# third step
col_bool = df["F"]>0

In [ ]:
# fourth step
df[col_bool]

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [86]:
# Fivth step for only F columns
df[col_bool]["F"]

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: F, dtype: float64

In [ ]:
# short hand (five steps into one)
df[df["F"]>0]["F"]

A    2.706850
B    0.651118
D    0.188695
E    0.190794
Name: F, dtype: float64

In [ ]:
# multiple columns
df[df["F"]>0][["F", "G"]]

          F         G
A  2.706850  0.628133
B  0.651118 -0.319318
D  0.188695 -0.758872
E  0.190794  1.978757

In [93]:
# multiple conditions
df[(df["F"]>0) & (df["G"]>1)]

          F         G         H         I
E  0.190794  1.978757  2.605967  0.683509

In [94]:
# you can change index of df
df

          F         G         H         I
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [95]:
df.reset_index()

  index         F         G         H         I
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [97]:
# if you want any column to be your index
new_index = "AB BC AD DB BD".split()
new_index

['AB', 'BC', 'AD', 'DB', 'BD']

In [98]:
df["New_index"] = new_index

In [99]:
df

          F         G         H         I New_index
A  2.706850  0.628133  0.907969  0.503826        AB
B  0.651118 -0.319318 -0.848077  0.605965        BC
C -2.018168  0.740122  0.528813 -0.589001        AD
D  0.188695 -0.758872 -0.933237  0.955057        DB
E  0.190794  1.978757  2.605967  0.683509        BD

In [ ]:
# it did not change our original df
df.set_index("New_index")

                  F         G         H         I
New_index
AB         2.706850  0.628133  0.907969  0.503826
BC         0.651118 -0.319318 -0.848077  0.605965
AD        -2.018168  0.740122  0.528813 -0.589001
DB         0.188695 -0.758872 -0.933237  0.955057
BD         0.190794  1.978757  2.605967  0.683509

In [102]:
df

          F         G         H         I New_index
A  2.706850  0.628133  0.907969  0.503826        AB
B  0.651118 -0.319318 -0.848077  0.605965        BC
C -2.018168  0.740122  0.528813 -0.589001        AD
D  0.188695 -0.758872 -0.933237  0.955057        DB
E  0.190794  1.978757  2.605967  0.683509        BD